---
import Layout from "@/layouts/Layout.astro";
import AuthComponent from "@/components/auth.astro";
---

<Layout>
  <section class="pt-40 px-2 w-full">
      <AuthComponent /> 
  </section>
</Layout>
