---

import { CreateTaskForm } from "@/components/forms/create-task-form.tsx";
import Button from "@/components/Button.astro";
import { Plus, X } from "lucide-preact";
import ContainerHeader from "@/components/containerHeader.astro";
import Tasks from "@/components/tasks.astro";
import SkeletonContainer from "@/components/defer/skeleton-container.astro";
import {CreateTagForm} from "@/components/forms/create-tag-form";
import SibebarLayout from "@/layouts/sidebarLayout.astro";
import Container from "@/components/container.astro";

---

<SibebarLayout>
  <Container
  >
    <!-- Header -->

    <ContainerHeader title="Mi Dashboard">
      <Button
        commandfor="task-modal"
        command="show-modal"
        text={"Crear Tarea"}
      >
        <Plus class="w-4 h-4 mr-2" slot={"icon-left"} />
      </Button>

      <Button text={"Crear Etiqueta"} commandfor="tag-modal" command="show-modal">
        <Plus class="w-4 h-4 mr-2" slot={"icon-left"} />
      </Button>
    </ContainerHeader>


   
    <!-- Main Content -->
    <div class="pt-24 container mx-auto text-white px-4 sm:px-6 lg:px-8 py-8">
      <Tasks  server:defer>
        <SkeletonContainer numberOfCards={9} slot="fallback" />
      </Tasks>
    </div>

  </Container>


  <!-- Modal para Crear Tarea -->
  <dialog
    id="task-modal"
    class="fixed inset-0 bg-transparent mx-auto my-auto bg-opacity-60 items-center justify-center z-50 transition-opacity duration-300"
  >
    <div
    
      class="bg-white dark:bg-gray-800 rounded-2xl shadow-xl px-20 py-10 inset-0 w-full relative"
    >
      <Button
        commandfor="task-modal"
        command="close"
        class="absolute cursor-pointer top-3 right-3 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"
      >
        <X class="w-6 h-6" slot={"icon-right"} />
      </Button>

      <CreateTaskForm client:visible />
    </div>
  </dialog>

  <!-- modal para crear tags -->
  <dialog
    id="tag-modal"
    class="fixed inset-0 bg-transparent mx-auto my-auto bg-opacity-60 items-center justify-center z-50 transition-opacity duration-300"
  >
    <div

      class="bg-white dark:bg-gray-800 rounded-2xl shadow-xl px-20 py-10 inset-0 w-full relative"
    >
      <Button
        commandfor="tag-modal"
        command="close"
        class="absolute cursor-pointer top-3 right-3 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"
      >
        <X class="w-6 h-6" slot={"icon-right"} />
      </Button>
      <CreateTagForm client:visible/>
    </div>
  </dialog>
</SibebarLayout>


