---
import SidebarLayout from "@/layouts/sidebarLayout.astro";
import Container from "@/components/container.astro";
import ContainerHeader from "@/components/containerHeader.astro";
import Button from "@/components/Button.astro";
import { Plus, X } from "lucide-preact";
import DataContainer from "@/components/data-container.astro";
import Modal from "@/components/modal.astro";
import { CreateTagForm } from "@/components/forms/create-tag-form";
import TagsComponent from "@/components/tags.astro";
import SkeletonContainer from "@/components/defer/skeleton-container.astro";
---

<SidebarLayout>
  <Container>
    <ContainerHeader title="Mis etiquetas">
      <Button
        text={"Crear Etiqueta"}
        commandfor="tag-modal"
        command="show-modal"
      >
        <Plus class="w-4 h-4 mr-2" slot={"icon-left"} />
      </Button>
    </ContainerHeader>

    <DataContainer>
      <TagsComponent server:defer>
        <SkeletonContainer numberOfCards={9} slot="fallback" />
      </TagsComponent>
    </DataContainer>

    <Modal id="tag-modal">
      <Button
        slot="button"
        commandfor="tag-modal"
        command="close"
        class="absolute cursor-pointer top-3 right-3 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"
      >
        <X class="w-6 h-6" slot={"icon-right"} />
      </Button>
      <CreateTagForm slot="content" client:visible />
    </Modal>
  </Container>
</SidebarLayout>
