---
import GithubIcon from "@/components/icons/github.svg";
import ArrowRightIcon from "@/components/icons/arrow-right.svg";
import { getSession } from "auth-astro/server";
import ThemeToggle from "@/components/theme-toggle.astro";
import Button from "@/components/Button.astro";
import UserMenu from "@/components/user-menu.astro";

const session = await getSession(Astro.request);
const supportedPagesWithSidebar = ["/dashboard", "/notes", "/tasks"];

---

<header
  class="w-full py-8 flex fixed top-0 px-4 z-100 justify-center items-center"
>
  <div class="max-w-7xl mx-auto px-2 flex justify-between w-full items-center">
    <div class="flex justify-between items-center gap-8">
      {
        session && supportedPagesWithSidebar.includes(Astro.url.pathname) && (
          <button
            id="sidebar-toggle"
          
            aria-controls="default-sidebar"
            type="button"
            class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          >
            <span class="sr-only">Open sidebar</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
              />
            </svg>
          </button>
        )
      }

      <a href="/">
        <h3 class="sm:text-2xl text-xl">Task App</h3>
      </a>
    </div>

    <div class="flex items-center gap-8 text-black dark:text-white">
      <ThemeToggle />
      <a
        href="https://github.com/Larasoft123/taskApp-with-back"
        rel="noreferrer"
        target="_blank"
        class="inline-flex items-center space-x-3 justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 bg-neutral-200 dark:bg-neutral-900 dark:focus-visible:ring-neutral-700 focus-visible:ring-neutral-500 hover:bg-neutral-100 hover:text-neutral-900 dark:hover:bg-neutral-950 dark:hover:text-neutral-50 h-9 w-9"
      >
        <GithubIcon />
      </a>

      {
        !session?.user && (
          <Button isLink={true} text={"Get Started"} href={"/dashboard"}>
            <ArrowRightIcon slot={"icon-right"} />
          </Button>
        )
      }

      {session?.user && <UserMenu transition:persist session={session} />}
    </div>
  </div>
</header>

<script>
  import { $ } from "@/lib/dom-selector";
  

  document.addEventListener("astro:page-load", () => {
    const $sidebar = $("#sidebar");
    const $sidebarToggle = $("#sidebar-toggle");

    $sidebarToggle?.addEventListener("click", () => {
      $sidebar?.classList.toggle("translate-x-0");
    });
    $sidebar?.addEventListener("click", (e) => {
      $sidebar.classList.toggle("translate-x-0");
    });

    
  });
</script>

<style>
  header {
    animation: header-animation both;
    animation-timeline: scroll();
    animation-range: 0px 200px;
  }

  @keyframes header-animation {
    0% {
    }
    100% {
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
    }
  }
</style>
