---
import GithubIcon from "@/components/icons/github.svg";
import ArrowRightIcon from "@/components/icons/arrow-right.svg";
import { getSession } from "auth-astro/server";
import ThemeToggle from "@/components/theme-toggle.astro";
import Button from "@/components/Button.astro";
import UserMenu from "@/components/user-menu.astro";

const session = await getSession(Astro.request);
---

<header class="w-full py-8 flex fixed top-0 z-100 justify-center items-center">
  <div class="max-w-7xl mx-auto px-2 flex justify-between w-full items-center">
    <div class="flex items-center gap-8">
      <a href="/">
        <h3 class="text-2xl">Task App</h3>
      </a>
    </div>

    <div class="flex items-center gap-8 text-black dark:text-white">
      <ThemeToggle />
      <a
        href="https://github.com/Larasoft123/taskApp-with-back"
        rel="noreferrer"
        target="_blank"
        class="inline-flex items-center space-x-3 justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 bg-neutral-200 dark:bg-neutral-900 dark:focus-visible:ring-neutral-700 focus-visible:ring-neutral-500 hover:bg-neutral-100 hover:text-neutral-900 dark:hover:bg-neutral-950 dark:hover:text-neutral-50 h-9 w-9"
      >
        <GithubIcon />
      </a>

      {
        !session?.user && (
          <Button isLink={true} text={"Get Started"} href={"/auth"}>
            <ArrowRightIcon slot={"icon-right"} />
          </Button>
        )
      }

      {session?.user && <UserMenu session={session} />}
    </div>
  </div>
</header>
