<div class="star hidden dark:block"></div>
<div class="meteor-1 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))] "></div>
<div class="meteor-2 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]"></div>
<div class="meteor-3 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]"></div>
<div class="meteor-4 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]"></div>
<div class="meteor-5 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]"></div>
<div class="meteor-6 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]"></div>
<div class="meteor-7 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]"></div>
<div class="meteor-8 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]"></div>
<div class="meteor-9 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]"></div>
<div class="meteor-10 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]0"></div>
<div class="meteor-11 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]1"></div>
<div class="meteor-12 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]2"></div>
<div class="meteor-13 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]3"></div>
<div class="meteor-14 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]4"></div>
<div class="meteor-15 bg-[linear-gradient(_to_right,_#07115e,_rgba(255,_255,_255,_0)_)]  dark:bg-[linear-gradient(to_right,_#fff,_rgba(255,_255,_255,_0))]5"></div>

<style>
  .star {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
      973px 642px #fff,
      443px 640px #fff,
      1446px 284px #fff,
      561px 12px #fff,
      907px 387px #fff,
      66px 333px #fff,
      738px 918px #fff,
      1706px 791px #fff,
      858px 790px #fff,
      1582px 260px #fff,
      1829px 802px #fff,
      82px 29px #fff,
      252px 624px #fff,
      472px 645px #fff,
      512px 455px #fff,
      714px 711px #fff,
      1365px 248px #fff,
      1639px 247px #fff,
      1821px 639px #fff,
      1746px 560px #fff,
      1469px 562px #fff,
      877px 845px #fff,
      1304px 118px #fff,
      91px 974px #fff,
      206px 587px #fff,
      927px 432px #fff,
      77px 943px #fff,
      1754px 67px #fff,
      477px 267px #fff,
      1306px 357px #fff,
      132px 284px #fff,
      1487px 624px #fff,
      1053px 445px #fff,
      376px 79px #fff,
      1514px 282px #fff,
      1598px 310px #fff,
      412px 945px #fff,
      1243px 647px #fff,
      195px 624px #fff,
      1259px 819px #fff,
      851px 889px #fff,
      409px 982px #fff,
      243px 671px #fff,
      1239px 28px #fff,
      1154px 904px #fff,
      823px 710px #fff,
      1535px 74px #fff,
      589px 559px #fff,
      923px 941px #fff,
      1779px 344px #fff,
      143px 415px #fff,
      189px 954px #fff,
      238px 54px #fff,
      269px 862px #fff,
      1909px 710px #fff,
      358px 306px #fff,
      558px 691px #fff,
      1230px 276px #fff,
      194px 701px #fff,
      992px 434px #fff,
      1324px 985px #fff,
      1242px 492px #fff,
      1559px 211px #fff,
      609px 122px #fff,
      237px 105px #fff,
      666px 620px #fff,
      1200px 340px #fff,
      1727px 205px #fff,
      476px 980px #fff,
      579px 401px #fff,
      1408px 388px #fff,
      970px 865px #fff,
      1906px 797px #fff,
      1616px 720px #fff,
      949px 163px #fff,
      155px 447px #fff,
      20px 49px #fff,
      743px 136px #fff,
      17px 934px #fff,
      1871px 435px #fff,
      313px 689px #fff,
      209px 683px #fff,
      692px 694px #fff,
      1679px 200px #fff,
      249px 485px #fff,
      35px 332px #fff,
      12px 894px #fff,
      1419px 66px #fff,
      83px 267px #fff,
      1850px 817px #fff,
      220px 888px #fff,
      408px 73px #fff,
      1082px 642px #fff,
      996px 602px #fff,
      1837px 517px #fff,
      514px 754px #fff,
      1110px 224px #fff,
      1591px 44px #fff,
      408px 101px #fff,
      144px 784px #fff,
      1367px 861px #fff,
      102px 839px #fff,
      763px 564px #fff,
      1310px 751px #fff,
      455px 96px #fff,
      1909px 905px #fff,
      1152px 864px #fff,
      310px 427px #fff,
      1356px 812px #fff,
      1290px 95px #fff,
      982px 341px #fff,
      150px 262px #fff,
      1627px 376px #fff,
      982px 761px #fff,
      1422px 758px #fff,
      335px 131px #fff,
      1208px 219px #fff,
      1468px 842px #fff,
      1322px 42px #fff,
      1051px 523px #fff,
      1664px 485px #fff,
      1154px 894px #fff,
      1769px 606px #fff,
      710px 74px #fff,
      197px 221px #fff,
      1348px 744px #fff,
      341px 219px #fff,
      1410px 496px #fff,
      360px 770px #fff,
      1326px 251px #fff,
      1612px 707px #fff,
      451px 492px #fff,
      1402px 316px #fff,
      968px 1px #fff,
      693px 577px #fff,
      1766px 486px #fff,
      143px 876px #fff,
      276px 894px #fff,
      314px 829px #fff,
      1125px 202px #fff,
      1579px 597px #fff,
      1525px 28px #fff,
      1844px 369px #fff,
      833px 273px #fff,
      1364px 422px #fff,
      239px 956px #fff,
      1104px 80px #fff,
      620px 234px #fff,
      912px 971px #fff,
      1910px 3px #fff,
      1108px 280px #fff,
      758px 549px #fff,
      533px 687px #fff,
      527px 979px #fff,
      172px 343px #fff,
      146px 913px #fff,
      706px 976px #fff,
      558px 529px #fff,
      669px 77px #fff,
      669px 780px #fff,
      877px 735px #fff,
      1249px 936px #fff,
      1308px 69px #fff,
      1416px 322px #fff,
      268px 748px #fff,
      1539px 205px #fff,
      895px 656px #fff,
      844px 725px #fff,
      352px 736px #fff,
      934px 865px #fff,
      1369px 705px #fff,
      601px 132px #fff,
      1072px 71px #fff,
      679px 536px #fff,
      790px 852px #fff,
      589px 112px #fff,
      1438px 580px #fff,
      1430px 852px #fff,
      1330px 594px #fff,
      182px 428px #fff,
      803px 194px #fff,
      1857px 993px #fff,
      833px 480px #fff,
      1283px 564px #fff,
      1546px 188px #fff,
      206px 391px #fff,
      447px 286px #fff,
      818px 502px #fff,
      25px 244px #fff,
      85px 407px #fff,
      1742px 713px #fff,
      19px 559px #fff,
      922px 336px #fff,
      252px 711px #fff,
      1221px 990px #fff,
      1715px 976px #fff,
      799px 314px #fff,
      1669px 241px #fff,
      314px 100px #fff,
      682px 298px #fff,
      1778px 643px #fff,
      622px 374px #fff,
      822px 317px #fff,
      86px 305px #fff,
      906px 463px #fff,
      921px 908px #fff,
      1627px 788px #fff,
      15px 907px #fff,
      411px 557px #fff,
      1498px 760px #fff,
      239px 154px #fff,
      1860px 226px #fff,
      1088px 436px #fff,
      570px 607px #fff,
      1553px 887px #fff,
      263px 286px #fff,
      997px 658px #fff,
      324px 775px #fff,
      307px 211px #fff,
      314px 524px #fff,
      1602px 768px #fff,
      1833px 887px #fff,
      41px 358px #fff,
      1868px 610px #fff,
      1126px 472px #fff,
      399px 326px #fff,
      1552px 692px #fff,
      1826px 433px #fff,
      1200px 577px #fff,
      366px 635px #fff,
      1786px 252px #fff,
      1807px 640px #fff,
      453px 467px #fff,
      1518px 335px #fff,
      774px 800px #fff,
      1691px 840px #fff,
      95px 264px #fff,
      1029px 737px #fff,
      458px 604px #fff,
      1910px 599px #fff,
      822px 200px #fff,
      1007px 507px #fff,
      656px 364px #fff,
      1679px 963px #fff,
      1157px 462px #fff,
      488px 435px #fff,
      591px 965px #fff,
      1692px 390px #fff,
      697px 164px #fff,
      734px 817px #fff,
      557px 113px #fff,
      800px 124px #fff,
      1260px 709px #fff,
      460px 172px #fff,
      799px 549px #fff,
      608px 672px #fff,
      1629px 224px #fff,
      982px 95px #fff,
      485px 741px #fff,
      1207px 113px #fff,
      1845px 70px #fff,
      521px 145px #fff,
      1561px 444px #fff,
      196px 171px #fff,
      389px 206px #fff,
      1233px 43px #fff,
      1739px 587px #fff,
      1390px 737px #fff,
      406px 699px #fff,
      1216px 958px #fff,
      1715px 973px #fff,
      1137px 291px #fff,
      1654px 607px #fff,
      1115px 850px #fff,
      912px 481px #fff,
      1427px 855px #fff,
      434px 706px #fff,
      797px 127px #fff,
      599px 267px #fff,
      233px 827px #fff,
      689px 323px #fff,
      693px 509px #fff,
      683px 106px #fff,
      1525px 87px #fff,
      445px 208px #fff,
      1371px 222px #fff,
      216px 583px #fff,
      1269px 738px #fff,
      1875px 457px #fff,
      1783px 196px #fff,
      1835px 886px #fff,
      1054px 459px #fff,
      153px 334px #fff,
      1450px 291px #fff,
      1284px 726px #fff,
      1437px 964px #fff,
      694px 170px #fff,
      294px 610px #fff,
      1605px 790px #fff,
      291px 59px #fff;
  }



  .meteor-1 {
    position: absolute;
    top: 124px;
    left: 49%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 5.7s linear infinite;
  }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(2, 27, 80, 0.7);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #07115e;
  }

  .meteor-2 {
    position: absolute;
    top: 139px;
    left: 50%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    animation: meteor 4.8s linear infinite;
  }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-3 {
    position: absolute;
    top: 87px;
    left: 91%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    
    animation: meteor 5.2s linear infinite;
  }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-4 {
    position: absolute;
    top: 243px;
    left: 60%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 8.2s linear infinite;
  }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-5 {
    position: absolute;
    top: 134px;
    left: 66%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
   
    animation: meteor 4.3s linear infinite;
  }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-6 {
    position: absolute;
    top: 71px;
    left: 22%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
   
    animation: meteor 6.1s linear infinite;
  }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-7 {
    position: absolute;
    top: 197px;
    left: 84%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 5.1s linear infinite;
  }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-8 {
    position: absolute;
    top: 91px;
    left: 34%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 5.9s linear infinite;
  }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-9 {
    position: absolute;
    top: 267px;
    left: 22%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 7.7s linear infinite;
  }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-10 {
    position: absolute;
    top: 134px;
    left: 91%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 10s linear infinite;
  }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-11 {
    position: absolute;
    top: 240px;
    left: 72%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 6.2s linear infinite;
  }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-12 {
    position: absolute;
    top: 138px;
    left: 30%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 8.4s linear infinite;
  }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-13 {
    position: absolute;
    top: 55px;
    left: 41%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 6.7s linear infinite;
  }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-14 {
    position: absolute;
    top: 187px;
    left: 29%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 9.5s linear infinite;
  }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-15 {
    position: absolute;
    top: 212px;
    left: 13%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);

    animation: meteor 3.1s linear infinite;
  }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
    }
    12% {
      opacity: 0;
    }
    15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
