---
import { SignIn, SignOut } from "auth-astro/components";
---

<section class="flex w-full flex-col justify-center items-center">
  <h1 class="font-semibold text-4xl text-gray-700">Welcome</h1>
  <div class="flex justify-center w-full items- gap-8 p-2">

    <SignIn provider="goggle">Login</SignIn>
    <SignOut>Logout</SignOut>
    
  </div>
</section>
